{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Our Services</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Online complaint registration</li>
        <li class="list-group-item">Complaint status tracking</li>
        <li class="list-group-item">Upload images and documents with complaints</li>
        <li class="list-group-item">Email and dashboard notifications</li>
        <li class="list-group-item">Secure user authentication and profile management</li>
    </ul>
</div>
{% endblock %}
